# Ignore virtualenv used for cpplint
venv/
.envrc

# Ignore everything related to CLion
.idea/
cmake*/

# Ignore environmental configs from MacOS
.DS_Store

## The following .gitignore is taken from the following link:
#       https://github.com/github/gitignore/blob/master/C%2B%2B.gitignore

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


## The following .gitignore is taken from the following link:
#       https://github.com/github/gitignore/blob/master/CMake.gitignore

CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
